<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>45568262298-q6gbh9rm8d2p2p5q8kjnnl1j1ss8bhmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45568262298-q6gbh9rm8d2p2p5q8kjnnl1j1ss8bhmf</string>
	<key>API_KEY</key>
	<string>AIzaSyCRV7eJMYj5h-1HoclQS35WETNvTjbtDZM</string>
	<key>GCM_SENDER_ID</key>
	<string>45568262298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somdede.Dailycast</string>
	<key>PROJECT_ID</key>
	<string>dailycast-d1ed9</string>
	<key>STORAGE_BUCKET</key>
	<string>dailycast-d1ed9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45568262298:ios:a35cce8cc2dd5836</string>
	<key>DATABASE_URL</key>
	<string>https://dailycast-d1ed9.firebaseio.com</string>
</dict>
</plist>